


</div>
<footer class="bg-gray-900 text-white py-4 px-10">
    <div class="container mx-auto flex items-center justify-between">
        <div>
            <img src="/images/Logo.png" alt="Company Logo" class="h-14 w-17" />
        </div>
        <div>
            <p>&copy; 2024 HelpersHand. All rights reserved.</p>
            <p>Contact: helpershand@gmail.com | Phone: +91 5678056780</p>
        </div>
    </div>
</footer>

</div>
</body>

</html>